<div class="main-container">

     <div class="invoice">
     <div class="invoice-detail">
       <p>Product detail 1</p>
       <p>test</p>
       <p>test</p>
       <p>test</p>
       <p>test</p>
       <p>test</p>
     </div>
     </div>

   <div class="invoice">
       <div class="invoice-detail">
     <p>Product detail 2</p>
         <p>test</p>
         <p>test</p>
         <p>test</p>
         <p>test</p>
         <p>test</p>
       </div>

   </div>
   </div>
