

<a href="https://github.com/aorcsik/radial-progress-bar" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<br>
<section>
  <div id="example1" class="example"></div>
  <h2>Radial Progress Bar</h2>
  <p>The default radial progress bar. Blue progress bar, semi-transparent background path, 40px progress text in the center. Subsequent percentage settings can be queued.</p>
  <!-- <p><strong>HTML</strong></p>
  <pre>
&lt;div id="example1"&gt;&lt;/div&gt;</pre>
  <p><strong>JavaScript</strong></p>
  <pre>
jQuery("#example1").radialProgress("init", {
  'size': 100,
  'fill': 5
}).radialProgress("to", {'perc': 50})
  .radialProgress("to", {'perc': 30})
  .radialProgress("to", {'perc': 100});</pre>-->
</section>
<section>
  <div id="pie" class="example" style="width: 100px;"></div>
  <h2>Simple Pie Chart</h2>
  <p>Multiple radial progress bars layered on top and offsetted by each other. Values are visible in the center as a list. Data is loaded in initialization.</p>
</section>
<section>
  <div id="multi" class="example" style="width: 100px;"></div>
  <h2>Concentric Bars</h2>
  <p>Multiple radial progress bars in concentric circles around each other. Defined as regular radial progress bar, empty on init, each bar can be set separately or together. </p>
  <p>With ranges and periodic updates the clock on the left can be easily created.</p>
</section>
<section>
  <h2>Inline Icons</h2>
  With a small size and fill settings and transparent text inline icon progress bar <span id="smallrad" style="display: inline-block;"></span> or pie chart <span id="smallpie" style="display: inline-block;"></span> can be created.</span>
</section>
