.wrapper-total{
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  align-items: center;
}
.wrapper-overview{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  // border: 1px dotted black;
  overflow-y: scroll;
  padding: 30px;
  flex-direction: column;
  height: 470px;
  margin-bottom: 70px;
}
.new-wrapper{
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 454px;
}

.wrapper-choice{
  // padding: 50px;
  // text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 70px;
  background-color: #23c560;
  transition: background-color .5s;
  border-radius: 15px;
  //margin-top: 70px;
  //border: 1px solid green;
}

.wrapper-choice:hover{
  cursor: pointer;
  transition: all .3s ease;
  background-color: #198240;
  padding: 20px 72px;
}

.container-banner{
  display: flex;
    flex-direction: column;
  position: relative;
  padding: 18px;
  // margin-left: 40px;
  // display: flex;
  // justify-content: center;

  height: auto ; //300px;
  //border: 1px solid orange;
  margin-bottom: 43px;
  background-color: #F5F5F6;
  // flex-direction: column;
  border-radius: 10px;
  background-color:#f5f5f5; //#FFD8AD
  opacity: 1;
  transform: none;
}
.banner-item{
  //position: absolute;
  // width: 75vw;
  // height: 10vh;
  //border: 1px solid red;
}

.banner-item span{
  display: none;
}

.banner-buttons{
  //position: absolute;
  width: 75vw;
  font-size: 10px;
  //border: 1px solid green;
  display: flex;
  justify-content: right;
}
.icon-placeholder{
  text-align: right;
}

.price-banner{
  display: flex;
    height: auto;
    background-color: rgba(128, 128, 128, 0);
    border-radius: 10px;
    padding: 1px;
    justify-content: space-between;
    align-items: center;

   h3{
    font-size: 20px;
    color: black;
   }
}

.total-banner{
  font-size: 30px;
  color: #b3b3b3;
}

.cart-totals{
  font-size: 17px;
    margin-top: 2px;
    text-align: right;
    margin-right: 10px;
}

.wrapper-choice a{
  text-decoration: none;
  color: white;
  // background-color: #DF6C4F;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#plus-button{
  height: 30px;
    width: 30px;
    background-color: #bffad3;
      border: none;
      border-radius: 50%;
}

#minus-button{
  height: 30px;
    width: 30px;
    background-color: #fddce2;
    border: none;
    border-radius: 50%;
}


#quantity{
  background-color: transparent;
    border: none;
    text-align: center;
}
