 <div class="title mt-5 mb-3">
    <h1>Overview</h1>
  </div>



<div class="option-card">
      <i style="color: #8bffc0" class="fa-solid fa-bolt"></i>
      <div>
        <h3>Setting up a group</h3>
        <h6>I am the first one to use Pyst</h6>
      </div>
       <%= link_to new_group_path do%>
        <i style="color: #000000" class="fa-solid fa-chevron-right"></i>
       <% end %>
    </div>

     <div class="option-card mt-3">
      <i style="color: #e89afe" class="fa-solid fa-user-plus"></i>
      <div>
        <h3>I’m joining my friends</h3>
        <h6>My buddies are already here</h6>
      </div>
       <%= link_to join_groups_path do%>
        <i style="color: #000000" class="fa-solid fa-chevron-right"></i>
       <% end %>
    </div>

  </div>
