.current_user_index_avatar {
  background-color: white;
  border-style: solid;
  border-color: $salmon;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
